<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if current_page == "" %}
    {% if current_user.is_authenticated %}
    <title>Works Log</title>
    {% else %}
    <title>Войдите в систему</title>
    {% endif %}
    {% elif current_page == "departments" %}
    <title>Departments Log</title>
    {% endif %}
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Mars One</a>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<nav>
    {% if current_user.is_authenticated %}
    {% if current_page == "" or current_page == "departments" %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    {% endif %}
    {% else %}
    <p>
        {% if current_page == "" %}
        <a href="register" class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a href="login" class="btn btn-success" href="/login">Войти</a>
        {% endif %}
    </p>
    {% endif %}

    {% if current_user.is_authenticated %}
    {% if current_page == "" %}
    <a href="/add_job" class="btn btn-secondary">Добавить работу</a>
    <a href="/departments" class="btn btn-secondary">К списку департаментов</a>
    <h1 align="center">Works Log</h1>
    {% for job in jobs %}
    <h2>Работа № {{job.id}}</h2>
    <table class="table table-striped-columns">
        <thead>
        <tr>
            <th>Название работы</th>
            <th>Тимлид</th>
            <th>Список участников</th>
            <th>Категория</th>
            <th>Время работы</th>
            <th>Состояние</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{job.job}}</td>
            <td>{{job.user.name}}</td>
            <td>{{job.collaborators}}</td>
            <td>{{job.categories[0].id}}</td>
            <td>{{job.work_size}} часов</td>
            {% if job.is_finished %}
            <td>Завершено</td>
            {% else %}
            <td>Не завершено</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    {% if current_user.is_authenticated and (current_user.id == job.team_leader or current_user.id == 1) %}
    <div>
        <a href="/job/{{ job.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/job_delete/{{ job.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    <p style="font-size: 30px"><br></p>
    {% endfor %}

    {% elif current_page == "departments" %}
    <a href="/add_department" class="btn btn-secondary">Добавить департамент</a>
    <a href="/" class="btn btn-secondary">К списку работ</a>
    <h1 align="center">Departments Log</h1>
    {% for department in departments %}
    <h2>Департамент № {{department.id}}</h2>
    <table class="table table-striped-columns">
        <thead>
        <tr>
            <th>Название департамента</th>
            <th>Главный</th>
            <th>Список участников</th>
            <th>Почта</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{department.title}}</td>
            <td>{{department.user.name}}</td>
            <td>{{department.members}}</td>
            <td>{{department.email}}</td>
        </tr>
        </tbody>
    </table>
    {% if current_user.is_authenticated and (current_user.id == department.chief or current_user.id == 1) %}
    <div>
        <a href="/department/{{ department.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/department_delete/{{ department.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    <p style="font-size: 30px"><br></p>
    {% endfor %}
    {% endif %}
    {% endif %}
</nav>
<script>
    document.querySelectorAll('tbody td:nth-child(6)').forEach(cell => {
        if (cell.textContent.trim() === 'Не завершено') {
            cell.style.backgroundColor = '#ffb6c1';
            cell.style.color = '#000000';
        }
        else {
            cell.style.backgroundColor = '#b6d7a8';
            cell.style.color = '#000000';
        }
    });
</script>
</body>
</html>